
Staart-Exercises/Aula 06 - Filas e Deques/filas e deques copy.js
Staart-Exercises/Aula 07 - Listas Encadeadas/listas copy.js
Staart-Exercises/Aula 08 - Conjuntos (Sets)/conjuntos copy.js
Staart-Exercises/Aula 06 - Filas e Deques/modelo.html
